.font_default {
 color: #e1e1e1;
 font-size: 14px;
 text-shadow: 2px 2px 2px black;
 font-family: sans-serif;
}

.main_background{
	background: rgb(0, 0, 0);
}

.info_bar_background {
  border: 1px solid rgb(158, 158, 158);
  background: rgb(19, 22, 24);
}

.menu_bar_background{
	border: 3px solid;
	background-color: rgb(158, 158, 158);
 }

 .titlebutton {
 border: 1px solid #212121;
 border-radius: 5px;
 background: #212121;
 color: #e1e1e1;
 border-color: #212121;
 }

 .GtkPaned .pane-separator {
     background-color: #000000;
     border-width: 0;
     background-size: 0px auto;
     background-repeat: no-repeat;
     background-position: center;
}

 .header {
   border: 0px #181818;
   border-style: solid;
   background: #181818;
   color: #e1e1e1;
   border-top-color: #181818;
  }

.GtkStackSwitcher {
  background-color: rgb(158, 158, 158);
  border: 2px solid #796d6d;
	border-radius: 10px;
}